sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"RVWQOR+Cambria-Bold";
	src:url("506dac13-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.66em;
	font-family: "RVWQOR+Cambria-Bold", "Times New Roman";
	color: #D9D9D9;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: 0.0155em;
}

.ie .stl_09 {
	letter-spacing: 0.4109px;
}
.stl_10 {
	font-size: 1.66em;
	font-family: "RVWQOR+Cambria-Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"EKTPCD+Cambria";
	src:url("1859cba6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 0.92em;
	font-family: "EKTPCD+Cambria", "Times New Roman";
	color: #BEBEBE;
}
.stl_12 {
	letter-spacing: -0.0019em;
}

.ie .stl_12 {
	letter-spacing: -0.0275px;
}
.stl_13 {
	font-size: 0.92em;
	font-family: "EKTPCD+Cambria", "Times New Roman";
	color: #000000;
}
.stl_14 {
	letter-spacing: -0.0017em;
}

.ie .stl_14 {
	letter-spacing: -0.0248px;
}
@font-face {
	font-family:"HTLGWM+Cambria";
	src:url("8b43a9cb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1.34em;
	font-family: "HTLGWM+Cambria", "Times New Roman";
	color: #D9D9D9;
}
.stl_16 {
	letter-spacing: -0.0023em;
}

.ie .stl_16 {
	letter-spacing: -0.0493px;
}
.stl_17 {
	font-size: 1.34em;
	font-family: "HTLGWM+Cambria", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"LGJNND+Calibri";
	src:url("b3755d5e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.92em;
	font-family: "LGJNND+Calibri";
	color: #000000;
}
.stl_19 {
	letter-spacing: -0.0014em;
}

.ie .stl_19 {
	letter-spacing: -0.0206px;
}
.stl_20 {
	letter-spacing: -0.0016em;
}

.ie .stl_20 {
	letter-spacing: -0.0233px;
}
.stl_21 {
	letter-spacing: -0.0015em;
}

.ie .stl_21 {
	letter-spacing: -0.0224px;
}
@font-face {
	font-family:"OLIDOQ+Wingdings-Regular";
	src:url("231c2749-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.88em;
	font-family: "OLIDOQ+Wingdings-Regular", "Times New Roman";
	color: #000000;
}
.stl_23 {
	letter-spacing: 0em;
}

.ie .stl_23 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"GJEJLQ+Calibri";
	src:url("333db4bd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 0.88em;
	font-family: "GJEJLQ+Calibri";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0027em;
}

.ie .stl_25 {
	letter-spacing: -0.0378px;
}
.stl_26 {
	letter-spacing: -0.0026em;
}

.ie .stl_26 {
	letter-spacing: -0.0361px;
}
.stl_27 {
	letter-spacing: -0.0025em;
}

.ie .stl_27 {
	letter-spacing: -0.0346px;
}
@font-face {
	font-family:"CQQUNG+Cambria-Bold";
	src:url("42ce2af9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 1.08em;
	font-family: "CQQUNG+Cambria-Bold", "Times New Roman";
	color: #17365D;
}
.stl_29 {
	letter-spacing: 0.0014em;
}

.ie .stl_29 {
	letter-spacing: 0.0239px;
}
.stl_30 {
	font-size: 1.08em;
	font-family: "CQQUNG+Cambria-Bold", "Times New Roman";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.0028em;
}

.ie .stl_31 {
	letter-spacing: -0.04px;
}
@font-face {
	font-family:"MGWDOQ+Calibri-Bold";
	src:url("49943724-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 0.92em;
	font-family: "MGWDOQ+Calibri-Bold";
	color: #000000;
}
.stl_33 {
	letter-spacing: -0.0029em;
}

.ie .stl_33 {
	letter-spacing: -0.0402px;
}
.stl_34 {
	font-size: 1.08em;
	font-family: "CQQUNG+Cambria-Bold", "Times New Roman";
	color: #16355C;
}
.stl_35 {
	letter-spacing: 0.0016em;
}

.ie .stl_35 {
	letter-spacing: 0.0274px;
}
@font-face {
	font-family:"TUVKVV+Calibri-Bold";
	src:url("b7c41f17-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.88em;
	font-family: "TUVKVV+Calibri-Bold";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0007em;
}

.ie .stl_37 {
	letter-spacing: -0.0104px;
}
.stl_38 {
	letter-spacing: 0.0015em;
}

.ie .stl_38 {
	letter-spacing: 0.0258px;
}
.stl_39 {
	letter-spacing: -0.0042em;
}

.ie .stl_39 {
	letter-spacing: -0.0595px;
}
.stl_40 {
	letter-spacing: -0.0024em;
}

.ie .stl_40 {
	letter-spacing: -0.0336px;
}
.stl_41 {
	letter-spacing: 0.0008em;
}

.ie .stl_41 {
	letter-spacing: 0.0111px;
}
.stl_42 {
	letter-spacing: -0.002em;
}

.ie .stl_42 {
	letter-spacing: -0.0288px;
}
.stl_43 {
	letter-spacing: -0.0011em;
}

.ie .stl_43 {
	letter-spacing: -0.0158px;
}
.stl_44 {
	letter-spacing: -0.0008em;
}

.ie .stl_44 {
	letter-spacing: -0.0107px;
}
